
.bidImg .caption {
	text-align: center
}

.bidImg img{
	display:table-cell;
	vertical-align:middle;
	margin:auto;
}

.abstract{
	height:100px;
	text-overflow: clip;
	overflow:hidden;
}

#charts{
	
	overflow-x:hidden;
	overflow-y:scroll;
	height:2100px;
	width:500px;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
}

.title{
	color:#0066CC;
}

