{% extends "base.html" %}
{% load staticfiles %}
{% block css %}
<link href="{% static "css/DT_bootstrap.css" %}" rel="stylesheet">
<style>

  body {
    padding-top: 50px;
    padding-bottom: 40px;
  }

  /* Custom container */
  .container-narrow {
    margin: 0 auto;
    max-width: 900px;
  }
  .container-narrow > hr {
    margin: 30px 0;
  }

  /* Main marketing message and sign up button */
  .jumbotron {
    margin: 60px 0;
    text-align: center;
  }
  .jumbotron h1 {
    font-size: 72px;
    line-height: 1;
  }
  .jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
  </style>
{% endblock %}

{% block javascript %}
<script src="{% static "js/jquery.dataTables.js" %}"></script>
<script src="{% static "js/DT_bootstrap.js" %}"></script>
<script src="{% static "js/springy.js" %}"></script>
<script src="{% static "js/springyui.js" %}"></script> 
{% endblock %}
{% block content %}
<div class="container-narrow">
	<div class="row-fluid" style="margin-top:40px">
		<div class="span12">
			<div style="float:left">
				<img src="{{image}}" width="150px"/>
			</div>
			
			<div style="float:left;margin-left:20px;width:300px">
				<h4 style="margin:0px">{{name}}</h4>
			</div>
			
			<div class="span12" style="margin-top:20px;font-size:12px">
				<h4>Top related people</h4>
				<ul class="thumbnails" style="margin-bottom:0px">
				{% for person in persons %}
				    <li class="span2" style="margin-bottom:0px">
						<img src="{{person.image}}" width="150px"/>
						<p style="line-height: 150%;"><a href="{{person.url}}" target="_blank">{{person.name}}</a></p>
					</li>
				{% empty %}
				    <li>Sorry, no results found</li>
				{% endfor %}
				</ul>
			</div>

			<div class="span12" style="margin-top:20px;font-size:12px">
				<h4>Top related organizations</h4>
				<ul class="thumbnails" style="margin-bottom:0px">
				{% for person in organizations %}
				    <li class="span2" style="margin-bottom:0px">
						<img src="{{person.image}}" width="150px"/>
						<p style="line-height: 150%;"><a href="{{person.url}}" target="_blank">{{person.name}}</a></p>
					</li>
				{% empty %}
				    <li>Sorry, no results found</li>
				{% endfor %}
				</ul>
			</div>

			<div class="span12" style="margin-top:20px;font-size:12px">
				<h4>Top related locations</h4>
				<ul class="thumbnails" style="margin-bottom:0px">
				{% for person in locations %}
				    <li class="span2" style="margin-bottom:0px">
						<img src="{{person.image}}" width="150px"/>
						<p style="line-height: 150%;"><a href="{{person.url}}" target="_blank">{{person.name}}</a></p>
					</li>
				{% empty %}
				    <li>Sorry, no results found</li>
				{% endfor %}
				</ul>
			</div>


			<div class="span12" style="margin-top:20px;font-size:12px">
				<h4 style="margin-top:0px">Mentioned in:</h4>
				<ul class="thumbnails">
				{% for article in articles %}
				<div class="well col-md-4">
					<span class="title" style="margin:0px">{{ article.title|safe }}</span>
					</p>
					{% if article.content %}
					<p class="abstract" style="height:100px">{{ article.content|safe }}</p>
					{% endif %}
				</div>
				{% endfor %}
				</ul>
			</div>
		</div>
			
	</div>
</div>
{% endblock %}
