{% extends "base.html" %}
{% block css %}
<style type="text/css">
  /* Custom container */
  .container-narrow {
    margin: 0 auto;
    max-width: 800px;
  }
  
  body{
  	padding-top: 150px;
  }
  #sigma-container {
    max-width: 1200px;
    height: 1000px;
    margin: auto;
  }
</style>
{% endblock %}
{% block javascript %}
{% endblock %}
{% block content %}
<div class="container-narrow">
<script>
sigma.classes.graph.addMethod('neighbors', function(nodeId) {
var k,
    neighbors = {},
    index = this.allNeighborsIndex[nodeId] || {};

for (k in index)
  neighbors[k] = this.nodesIndex[k];
return neighbors;
});
var s

function act(fileName){
	alert('load graph');
	$('#sigma-container').empty();

sigma.parsers.json(
    fileName,
    { // Here is the ID of the DOM element that
      // will contain the graph:
      container: 'sigma-container',
      settings: {
      defaultNodeColor: '#ec5148',
      animationsTime: 1000
      }
    },
    function(ss) {
    	ss.refresh();
      // We first need to save the original colors of our
      // nodes and edges, like this:
      ss.graph.nodes().forEach(function(n) {
        n.originalColor = n.color;
      });
      ss.graph.edges().forEach(function(e) {
        e.originalColor = e.color;
      });

      // When a node is clicked, we check for each node
      // if it is a neighbor of the clicked one. If not,
      // we set its color as grey, and else, it takes its
      // original color.
      // We do the same for the edges, and we only keep
      // edges that have both extremities colored.
      ss.bind('clickNode', function(e) {
        var nodeId = e.data.node.id,
            toKeep = ss.graph.neighbors(nodeId);
        toKeep[nodeId] = e.data.node;

        ss.graph.nodes().forEach(function(n) {
          if (toKeep[n.id])
            n.color = n.originalColor;
          else
            n.color = '#eee';
        });

        ss.graph.edges().forEach(function(e) {
          if (toKeep[e.source] && toKeep[e.target] && (e.source == nodeId || e.target == nodeId))
            e.color = e.originalColor;
          else
            e.color = '#eee';
        });

        // Since the data has been modified, we need to
        // call the refresh method to make the colors
        // update effective.
        ss.refresh();
      });

      // When the stage is clicked, we just color each
      // node and edge with its original color.
      ss.bind('clickStage', function(e) {
        ss.graph.nodes().forEach(function(n) {
          n.color = n.originalColor;
        });

        ss.graph.edges().forEach(function(e) {
          e.color = e.originalColor;
        });

        // Same as in the previous event:
        ss.refresh();
      });
    }
  );
}
		</script>
	<div id="sigma-container"></div>
	<div class="row-fluid" align="center" style="padding-bottom:30px">
		<!-- <img src="/static/images/research_insight_l.png" height="300" width="400"> -->
		<h1>NetOLAP System (NewsNet)</h1>
	</div>
	<br/>
	<div>
		<h3>Query history</h3>
		<div id="history">
		</div>
	</div>
	<div class="row_fluid">
		{% csrf_token %}
		<textarea type="text" id="query" name="query" style="vertical-align:text-top;width:770px;height:100px;border-radius: 0 0 0 0;"></textarea>
	</div>
	<div class="row-fluid">
		<div>
			<br/>
	          	<button type="button" id="submit" class="btn btn-success">Submit</button>
		</div>
	</div>
	<div>
		<h3>Query result</h3>
		<div id="result">
		</div>
	</div>
</div>
{% endblock %}