{% extends "base.html" %}

{% block content %}
<div class="row-fluid">
	<div class="row-fluid" align="center" style="padding-bottom:30px; padding-top:100px">
		<!-- <img src="/static/images/research_insight_l.png" height="300" width="400"> -->
		<!-- <h1>NetOLAP System (NewsNet)</h1> -->
		<img src="/static/images/newsnet_logo.png" height="400" width="400" >
	</div>
	
	<div style="width:900px; margin:0 auto;">
		<ul class="breadcrumb">
		  <li><a href="#">Home</a> <span class="divider">»</span></li>
		  <li class="active">Function Panel</li>
		</ul>
		<ul class="thumbnails row-fluid" style="margin:0 auto;">
		
			<li class="span4 thumbnail" style="height: 266px;">
				<div class="caption" style="height: 180px;">
					<h4 class="text-info"><a href="http://eventcube.cs.illinois.edu:8080/keyword_search/dataset_name/eventcube_tfb890703_NEWS2010/"><img src="/static/images/square.png" height="40" width="40" style="padding: 0px 10px 12px 0px;">Advanced Search</a></h4>
			        <p>
			        	Entity-driven Search: We provide much more than a list of documents.
			        </p>
			        <p class="text-success">
			        	Built connections from news to entities
			        </p>
	            </div>
	            
	            <div class="btn-toolbar">
	            	
		            <div class="btn-group">
			            <a class="btn btn-mini" href="http://eventcube.cs.illinois.edu:8080/keyword_search/dataset_name/eventcube_tfb890703_NEWS2010/" style="margin-left: 170px;">
			            	<i class="icon-search"></i>Search »
			        	</a>
					</div>
				</div>
		   </li>
		
			<li class="span4 thumbnail" style="height: 266px;">
				<div class="caption" style="height: 180px;">
					<h4 class="text-info"><a href="http://eventcube.cs.illinois.edu:8080/analyze/dataset_name/eventcube_tfb890703_NEWS2010/"><img src="/static/images/square.png" height="40" width="40" style="padding: 0px 10px 12px 0px;">Entity Analysis</a></h4>
			        <p>
			        	Analyze news from entities' view, create entity profile by its news.
			        </p>
			        <p class="text-success">
			        	Built connections from entities to news
			        </p>
	            </div>
	            
	            <div class="btn-toolbar">
	            	
		            <div class="btn-group">
			        	<a class="btn btn-mini" href="http://eventcube.cs.illinois.edu:8080/analyze/dataset_name/eventcube_tfb890703_NEWS2010/" style="margin-left: 170px;">
			            	<i class="icon-align-right"></i> Analyze »
			    		</a>
					</div>
				</div>
	            
		   </li>
		
			<li class="span4 thumbnail" style="height: 266px;">
				<div class="caption" style="height: 180px;">
					<h4 class="text-info"><a href="network"><img src="/static/images/square.png" height="40" width="40" style="padding: 0px 10px 12px 0px;">Network OLAP</a></h4>
			        <p>
			            Narrow down to a specific sub-network, apply analysis to millions network possibilities.
			        </p>
			        <p class="text-success">
			        	Apply OnLine Analytical Processing
			        </p>
	            </div>
	            
	            <div class="btn-toolbar">
	            	
		            <div class="btn-group">
			        	<a class="btn btn-mini" href="network" style="margin-left: 170px;">
			            	<i class="icon-align-right"></i> Analyze »
			    		</a>
					</div>
				</div>
		   </li>
		
		</ul>
	
</div>
</div>

{% endblock %}