{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
<link href="{% static "css/slider.css" %}" rel="stylesheet">
{% endblock %}

{% block javascript %}
<script src="{% static "js/bootstrap-slider.js" %}"></script>
<script src="{% static "js/jquery.dotdotdot-1.5.7-packed.js" %}"></script>
<script>
	$(document).ready(function(){
		$('.slider').slider()
		.on('slideStop',function(e){
			$(this).attr('value',$(this).data('value'));
		});
		$(".abstract").dotdotdot({
				//	configuration goes here
		});
		
		$('#eventCubeSubmit').click();
		
	});
</script>
{% endblock %}

{% block content %}
<form action="{{ eventCubeApi }}"
	  method="post"
	  target="charts"
	  id="chartForm">
<input type="hidden" name="keywords" value="{{ eventCubeQuery }}">
<input id="eventCubeSubmit" type="submit" class="hidden">
</form>
<div class="span12">
	<div >
		<div class="page-header">
			<!--h3>
				Insightful Search<small>.</small>
			</h3-->
		</div>
		<div class="row-fluid">
			<div class="span6">
				<form class="input-append" method="post" action="/paper_search">
				  <input name="keywords" type="text" style="width:630px" value="{{ query }}">
				  {% csrf_token %}
				  <button type="submit" class="btn">Paper Search</button>
				</form>
			</div>
		</div>
		{% if coauthor_prediction_list %}
		<div class="span12" style="margin-top:20px">
			<h4>Query-based coauthors prediction</h4>
			<ul class="thumbnails">
			{% for coauthor in coauthor_prediction_list %}
			    <li class="span2">
					<img src="{{ coauthor.imgURL }}" width="150px"/>
					<p><a href="/author/{{ coauthor.nodeID }}" target="_blank">{{ coauthor.name }}</a></p>
				</li>
			{% endfor %}
			</ul>
		</div>
		{% endif %}
		<div class="row-fluid">
			<div class="span7">
				{% for paper in papers %}
				<div class="well">
					<span class="title" style="margin:0px">{{ paper.title|safe }}</span>
					<p style="margin:0px">Citations: {{paper.citationCount}}, Published in {{paper.publicationYear}}</p>
					<p style="margin:0px">Authors: 
					{% for author in paper.orderedAuthorList %}
					        <a href="/author/{{author.nodeID}}" target="_blank">{{author.name}}</a>{% if forloop.last %} {% else %}, {% endif %}
					{% empty %}
					N/A
				    {% endfor %}
					</p>
					{% if paper.abstractText %}
					<p class="abstract" style="height:100px">{{ paper.abstractText|safe }}</p>
					{% endif %}
					
				</div>
				{% endfor %}
			</div>
			<div class="span5">
				<h4>Feature weights:</h4>
				<form method="post" class="form-horizontal" action="/paper_search">
					<input name="keywords" type="hidden" class="input-xlarge" value="{{ query }}">
					{% csrf_token %}
					
				    {% for feature,weight in weights %}
				    <div class="control-group">
				    	<label class="control-label">{{ feature }}</label>
				    	<div class="controls">
				    		<input class="slider"
				    			   name="{{ feature }}" 
				  	  			   type="text" 
					  			   value="{{ weight|floatformat:"0" }}"
					  			   data-slider-handle="square"
					  			   data-slider-value="{{ weight|floatformat:"0" }}">
					   </div>
				    </div>
				    {% endfor %}
				    <button type="submit" class="btn btn-primary">Update</button>
        	   </form>
        	   <img id="loadImg" src="{% static "img/ajax-loader.gif" %}"/>
        	   <iframe name="charts" id="charts" frameBorder="0" scrolling="no" onload="document.getElementById('loadImg').style.display='none';">
        	   </iframe>
			</div>
			
		</div>
	</div>
	<!-- <div class="span3">

	</div> -->
</div>
{% endblock %}
