{% extends "base.html" %}
{% block css %}
<style type="text/css">
  /* Custom container */
  .container-narrow {
    margin: 0 auto;
    max-width: 800px;
  }
  
  body{
  	padding-top: 150px;
  }
</style>
{% endblock %}
{% block javascript %}
<script>
var author_hint_list = {};
var author_hint_list_search = {};

function author_serach_name(ev){
	ev.stopPropagation();
	ev.preventDefault();
	keywords = ev.data.input_field.val();
	//console.log(ev.data.input_field.val());
	if(keywords){
		//filter out up/down, tab, enter, and escape keys
		if ($.inArray(ev.keyCode, [40, 38, 9, 13, 27]) === -1) {
			var self = $(this);
			//set typeahead source to empty
			self.data('typeahead').source = [];
			//active used so we aren't triggering duplicate keyup events
			if (!self.data('active') && self.val().length > 0) {
				self.data('active', true);
				$.ajax({
					type : "POST",
					url : "/author_autocomplete/",
					data : {
						//keywords : $('#author_search_name').val()
						keywords : keywords
					},
					dataType : 'json'
				}).done(function(data) {
					ret_list = []
					for(var i=0; i < data.length; i++){
						//console.log("Store: " + data[i].name + ":" + data[i].nodeID);
						author_hint_list_search[data[i].name] = data[i].nodeID;
						ret_list.push(data[i].name);
					}
					self.data('active', true);
					self.data('typeahead').source = ret_list;
					self.trigger('keyup');
					self.trigger('click');
					self.data('active', false);
				});
			}
		}
	}
}
    $(document).ready(function() {
    	
    	$('#author_search_name').focus();
    	$('#author_search_name').typeahead().on('keyup click', {input_field: $('#author_search_name')}, author_serach_name);
    	$('#author_name').typeahead().on('keyup click', {input_field: $('#author_name')}, author_serach_name);
	  $("#login_btn").click(function() {
	  	 console.log($("#author_name").val());
	  	 console.log(author_hint_list[$("#author_name").val()]);
	  	 $("#author_id").val(author_hint_list[$("#author_name").val()]);
	  });
	  
	  $("#query_btn").click(function() {
	  	 	data = {}
			data['query'] = $("#query").val();
			data['dataset'] = $('input[name=dataset]:checked').val();

			post_to_url("/query/", data);
	  });
	});

	function post_to_url(path, params, method) {
        method = method || "post";

        var form = document.createElement("form");

        //Move the submit function to another variable
        //so that it doesn't get overwritten.
        form._submit_function_ = form.submit;

        form.setAttribute("method", method);
        form.setAttribute("action", path);

        for(var key in params) {
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", key);
            hiddenField.setAttribute("value", params[key]);

            form.appendChild(hiddenField);
        }

        document.body.appendChild(form);
        form._submit_function_(); //Call the renamed function.
} 

</script>
{% endblock %}

{% block navbar %}
{% endblock %}
{% block content %}
<div class="container-narrow">
	<div class="row-fluid" align="center" style="padding-bottom:30px">
		<img src="/static/images/research_insight_l.png" height="300" width="400">
	</div>
	<div class="row-fluid">
		<div>
			<br/>
			<div id="author_field">
	          	<form class="input-append">
	          		{% csrf_token %}
	          		<label class="radio">
					  <input type="radio" name="dataset" id="dblp" value="DBLP" checked>DBLP
					</label>
					<label class="radio">
					  <input type="radio" name="dataset" id="news" value="NEWS">NEWS
					</label>
	          		<input type="text" value="{{query}}" id="query" name="author_search_name" style="width:630px;border-radius: 5px 0 0px 5px;" autocomplete="off" placeholder="Type your query, example: A[Jiawei Han]P(S)A">
	          		<input type="button" value="Query Network" style="border:1px solid #333;" class="btn btn-inverse" id="query_btn">
	          	</form>
			</div>
			<div>
				<textarea style="width:770px;height:2000px;">{{result}}</textarea>
			</div>
		</div>
	</div>
</div>
{% endblock %}