{% load staticfiles %}
<html lang="en">
<!-- "/static/graphs/LesMiserables.gexf", -->
<head>
<style type="text/css">
  #sigma-container {
    max-width: 1200px;
    height: 1000px;
    margin: auto;
  }
  #neighbor-container {
    max-width: 600px;
    height: 600px;
    margin: auto;
  }
</style>
</head>
<body>
<div id="sigma-container"></div>
<div id="neighbor-container"></div>
<script src="{% static "js/sigma.min.js" %}"></script>
<script src="{% static "js/plugins/sigma.parsers.json.min.js" %}"></script>
<script src="{% static "js/plugins/sigma.plugins.neighborhoods.min.js" %}"></script>
<script src="{% static "js/plugins/sigma.layout.forceAtlas2.min.js" %}"></script>

<script>
sigma.classes.graph.addMethod('neighbors', function(nodeId) {
    var k,
        neighbors = {},
        index = this.allNeighborsIndex[nodeId] || {};

    for (k in index)
      neighbors[k] = this.nodesIndex[k];
    return neighbors;
  });


sigma.parsers.json(
    "/static/graphs/sample2.json",
    { // Here is the ID of the DOM element that
      // will contain the graph:
      container: 'sigma-container',
      settings: {
      defaultNodeColor: '#ec5148',
      animationsTime: 1000
      }
    },
    function(ss) {
      // We first need to save the original colors of our
      // nodes and edges, like this:
      ss.graph.nodes().forEach(function(n) {
        n.originalColor = n.color;
      });
      ss.graph.edges().forEach(function(e) {
        e.originalColor = e.color;
      });

      // When a node is clicked, we check for each node
      // if it is a neighbor of the clicked one. If not,
      // we set its color as grey, and else, it takes its
      // original color.
      // We do the same for the edges, and we only keep
      // edges that have both extremities colored.
      ss.bind('clickNode', function(e) {
        var nodeId = e.data.node.id,
            toKeep = ss.graph.neighbors(nodeId);
        toKeep[nodeId] = e.data.node;

        ss.graph.nodes().forEach(function(n) {
          if (toKeep[n.id])
            n.color = n.originalColor;
          else
            n.color = '#eee';
        });

        ss.graph.edges().forEach(function(e) {
          if (toKeep[e.source] && toKeep[e.target] && (e.source == nodeId || e.target == nodeId))
            e.color = e.originalColor;
          else
            e.color = '#eee';
        });

        // Since the data has been modified, we need to
        // call the refresh method to make the colors
        // update effective.
        ss.refresh();
      });

      // When the stage is clicked, we just color each
      // node and edge with its original color.
      ss.bind('clickStage', function(e) {
        ss.graph.nodes().forEach(function(n) {
          n.color = n.originalColor;
        });

        ss.graph.edges().forEach(function(e) {
          e.color = e.originalColor;
        });

        // Same as in the previous event:
        ss.refresh();
      });
    }
  );

  var s = new sigma({
      container: 'neighbor-container',
      settings: {
        defaultLabelColor: '#fff'
      }
    });


  db = new sigma.plugins.neighborhoods();
  db.load("/static/graphs/sample2.json", function() {
  // Out function to initialize sigma on a new neighborhood:
  function refreshGraph(centerNodeId) {
    // First, let's stop the ForceAtlas2 algorithm:
    s.stopForceAtlas2();

    // Restart the camera:
    s.camera.goTo({
      x: 0,
      y: 0,
      angle: 0,
      ratio: 1
    });

    // Empty the graph:
    s.graph.clear();

    // Read the graph:
    s.graph.read(db.neighborhood(centerNodeId));

    // Randomize the positions of the nodes and initialize their size:
    var i,
        nodes = s.graph.nodes(),
        len = nodes.length;

    for (i = 0; i < len; i++) {
      nodes[i].x = Math.cos(Math.PI * 2 * i / len);
      nodes[i].y = Math.sin(Math.PI * 2 * i / len);
    }

    // Refresh the display:
    s.refresh();

    // Start the ForceAtlas2 algorithm:
    s.startForceAtlas2();
    // document.getElementById('toggle-layout').innerHTML = 'Stop layout';
  }

  // Let's now bind this new function to the "clickNode" event:
  s.bind('clickNode', function(event) {
    if (!event.data.node.center)
      refreshGraph(event.data.node.id);
  });

  // And finally, let's initialize the first graph:
  refreshGraph('119390');
});
  

</script>
</body>
</html>