{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Research Insight{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
        <link href="{% static "css/main.css" %}" rel="stylesheet">
        <link href="{% static "bootstrap/css/bootstrap-responsive.min.css" %}" rel="stylesheet">
        {% block css %}
        {% endblock %}
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
        <script src="{% static "js/ajax_setup.js" %}"></script>
        <script src="{% static "js/main.js" %}"></script>
        <script src="{% static "js/sigma.min.js" %}"></script>
        <script src="{% static "js/plugins/sigma.parsers.gexf.min.js" %}"></script>
        <script src="{% static "js/plugins/sigma.parsers.json.min.js" %}"></script>
        {% block javascript %}
        {% endblock %}
    </head>
    <body>

		{% block navbar %}
		<div class="navbar navbar-fixed-top navbar-inverse">
		  <div class="navbar-inner">
		    <div class="container">
		      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>

		      <a class="brand" href="/" style="padding:5px 20px 0px 150px;"><img src="/static/images/newsnet_logo 2.png" height="40" width="90" ></a>
		      <div class="nav-collapse collapse">
		        <ul class="nav">
		          <li class="active"><a href="/">Home</a></li>
                  <li><a href="/">Advanced</a></li>
                  <li><a href="/">Entity Analysis</a></li>
                  <li><a href="/">Network Analysis</a></li>
		          <!-- <li><a href="#about">Rank</a></li> -->
		        </ul>
		      </div><!--/.nav-collapse -->
		    </div>
		  </div>
		</div>
		{% endblock %}
    <div class="container-fluid">
      {% block content %}
        <h1>Bootstrap starter template</h1>
        <p>Use this document as a way to quick start any new project.<br> All you get is this message and a barebones HTML document.</p>
      {% endblock %}
      <footer style="background-color:#e3e3e3;">
        {% block footer %}
        <div class="footer" style="margin-top:50px;">
            <div class="copyright" style="color:black;">
                <p style="text-align: center;">Copyright © 2014 University of Illinois at Urbana-Champaign.</p>
                <p style="text-align: center; margin-top:-15px;">Creator: Fangbo Tao</p>
            </div>
        </div>
          {% endblock %}
      </footer>
    </div>
    </body>
</html>